./AWS Certifications/AWS Certified Cloud Practitioner/AWS Cloud Practitioner Certification Payment.pdf

./AWS Certifications/AWS Certified Developer Associate/AWS Certified Developer - Associate Payment.pdf

./Azure Certifications/AZ104/AZ104 Payment.pdf

./Azure Certifications/AZ104/AZ900 Payment.pdf